@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --blue: #0071e3;
  overflow-x: hidden;
  font-family:
    SF Pro Display,
    SF Pro Icons,
    Helvetica Neue,
    Helvetica,
    Arial,
    sans-serif;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: white;
  width: 100dvw;
  overflow-x: hidden;
  height: 100%;
  background: #000;
  border-color: #3b3b3b;
  user-select: none;
}

canvas {
  touch-action: none;
}

.screen-max-width {
  margin-inline-start: auto;
  margin-inline-end: auto;
  position: relative;
  max-width: 1120px;
}

@layer utilities {
  .btn {
    @apply my-5 rounded-3xl border border-transparent bg-blue px-5 py-2 hover:border hover:border-blue hover:bg-transparent hover:text-blue;
  }

  .link {
    @apply flex translate-y-20 cursor-pointer items-center text-xl text-blue opacity-0 hover:underline;
  }

  .g_fadeIn {
    @apply translate-y-[100px] opacity-0;
  }

  section {
    @apply px-5 py-20 sm:px-10 sm:py-32 md:px-20;
  }

  h1 {
    @apply text-[30px] font-[500] text-gray opacity-0 max-md:mb-10 md:text-[56px];
  }

  h2 {
    @apply text-[32px] font-semibold leading-tight md:text-[80px];
  }

  h3 {
    @apply text-[21px] font-normal leading-tight text-gray md:text-[28px] md:font-semibold;
  }

  h4 {
    @apply text-[20px] font-[500] text-gray;
  }

  p {
    @apply text-[20px] font-[400] text-gray;
  }
}
